# Environment files
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Chroma DB
chroma_db/

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db